<!-- src/templates/block-account.hbs -->

<h2>Important Notice Regarding Your QT Book Store Account</h2>

<p>Dear Reader,</p>

<p>We are writing to inform you that, due to unusual activity, we have temporarily suspended access to the account
    associated with the email:</p>

<h2 style="font-size: 24px; color: #333;">{{email}}</h2>

<p>This precaution is taken to ensure the security of your personal information and to protect your account from
    unauthorized access.</p>

<p>If you believe this action is in error, or if you have any questions regarding the security of your account, please
    contact our support team immediately. We are dedicated to ensuring the safety of your account and are here to assist
    you in resolving this matter.</p>

<p>We apologize for any inconvenience this may have caused and thank you for your understanding and cooperation in
    maintaining the security of the QT Book Store community.</p>

<p>Sincerely,</p>
<p>The QT Book Store Security Team</p>