<!-- src/templates/forgot-password.hbs -->

<p>Xin chào,</p>

<p>Bạn hoặc ai đó đã yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Nếu bạn không yêu cầu thao tác này, vui lòng bỏ qua
    email này.</p>

<p>Nếu bạn yêu cầu thao tác này, vui lòng sử dụng mật khẩu tạm thời dưới đây để đăng nhập:</p>

<p>Mật khẩu tạm thời: {{password}}</p>

<p>Sau khi đăng nhập bằng mật khẩu tạm thời, vui lòng thay đổi mật khẩu của bạn để đảm bảo an toàn cho tài khoản của
    bạn.</p>

<p>Trân trọng,</p>
<p>Đội ngũ hỗ trợ của bạn</p>