<!-- src/templates/forgot-password.hbs -->

<h2>Hello,</h2>

<p>We've received a request to reset the password for your QT Book Store account. If you did not initiate this request,
    please disregard this email and rest assured that your account is secure.</p>

<p>If you did request a reset, please use the temporary password provided below to sign in:</p>

<h3>Temporary Password: {{password}}</h3>

<p>For your account's security, remember to update your password to something new and unique to you as soon as you log
    in with the temporary one.</p>

<p>If you have any questions or need further assistance, don't hesitate to reach out. We're here to help!</p>

<p>Warm regards,</p>
<p>The QT Book Store Support Team</p>